<h2>Game Information:</h2>

<p>
  <strong>Masked Letters:</strong>
  <%= masked_letters(@game.secret_word.chars, @game.guessed_letters) %>
</p>

<p>
  <strong>Word Length:</strong>
  <%= @game.secret_word.length %>
</p>

<p>
  <strong>Remaining Lives:</strong>
  <%= @game.lives %>
</p>

<p>
  <strong>Guessed Letters:</strong>
  <% if @game.guessed_letters.any? %>
    <%= @game.guessed_letters.join(' ') %>
  <% else %>
    No guesses have been made
  <% end %>
</p>
